<html>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <body>
  <div style="width: 700px; margin: 0 auto;">
    <div class="bs-docs-section">
      <h1 id="overview" class="page-header">Twilio Voice Notification Demo</h1>
    </div>
    {% block content %}{% endblock %}
  </div>
  </body>
</html>