<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<p class="lead">Welcome to the Twilio Voice Notification Demo. Fill the form below with up to 10 numbers, click the Place Calls button, and then Twilio will make a call to each of those numbers. When each of the caller's picks up, he or she will be prompted with an IVR. Results from the calls can be seen on the results page (see link below).</p>
<form role="form" method="post" action="{{ url_for('make_outbound_calls') }}">
  <input type="text" class="form-control" name="number0" style="margin-top: 10px;" placeholder="some phone number">
  <input type="text" class="form-control" name="number1" style="margin-top: 10px;" placeholder="another phone number (optional)">
  <input type="text" class="form-control" name="number2" style="margin-top: 10px;" placeholder="another phone number (optional)">
  <input type="text" class="form-control" name="number3" style="margin-top: 10px;" placeholder="another phone number (optional)">
  <input type="text" class="form-control" name="number4" style="margin-top: 10px;" placeholder="another phone number (optional)">
  <input type="text" class="form-control" name="number5" style="margin-top: 10px;" placeholder="another phone number (optional)">
  <input type="text" class="form-control" name="number6" style="margin-top: 10px;" placeholder="another phone number (optional)">
  <input type="text" class="form-control" name="number7" style="margin-top: 10px;" placeholder="another phone number (optional)">
  <input type="text" class="form-control" name="number8" style="margin-top: 10px;" placeholder="another phone number (optional)">
  <input type="text" class="form-control" name="number9" style="margin-top: 10px;" placeholder="another phone number (optional)">
  <input type="submit" class="btn btn-primary" id="makeOutboundIvrCallButton" style="margin-top: 10px; float: right;" value="Place Calls">
  <button type="button" class="btn btn-default" onclick="location.href = '/results';" style="margin: 10px; float: right;"	>Skip to Results</button>
</form>
{% endblock %}