<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<p class="lead">Results from the last 20 calls.</p>
	<table class="table table-hover">
	    <tr>
	       	<div class="col-md-3">To</div>
	    	<div class="col-md-4">Start Time</div>
	    	<div class="col-md-2">Call Status</div>
	    	<div class="col-md-3">Selection</div>
	    </tr>
	</table>
{% for call in calls %}
	<table class="table table-hover">
	    <tr>
	       	<div class="col-md-3">{{call.to_number}}</div>
	    	<div class="col-md-4">{{call.start_time.strftime('%I:%M:%S%p %b %d, %Y')}}</div>
	    	<div class="col-md-2">{{call.call_status}}</div>
            <div class="col-md-3">{{call.selection}}</div>
	    </tr>
	</table>
{% endfor %}
<button type="button" class="btn btn-primary" onclick="location.href = '/';" style="margin: 10px; float: right;">Return to Home</button>

{% endblock %}